{{template "base" .}}

{{define "title"}}{{.Title}}{{end}}

{{define "main"}}
    <h2>Accounts</h2>
    <p>This is the accounts index page</p>
{{end}}

{{define "footer"}}
    <footer>Look I have a custom footer</footer>
{{end}}