{{template "base" .}}

{{define "title"}}Index{{end}}

{{define "main"}}
    <h2>This is the Admin Index page</h2>
    <p>We are in the body</p>
    <ul>
        <li><a href="/admin/accounts">Accounts</a></li>
        <li><a href="/admin/users/123">Show User 123</a></li>
    </ul>
{{end}}

