{{template "base" .}}

{{define "title"}}Show User {{.ID}}{{end}}

{{define "main"}}
    <h2>Users Show {{.ID}}</h2>
    <p>I am in the user's show page</p>
    <p>{{customMethod .ID}}</p>
{{end}}



